
.navbar {
    display: flex;
    justify-content: flex-start;

    .navbar-item {
        margin: 0px 5px 0px 5rem;
        background-color: pink;
        padding: 15px 40px;
        border-radius: 15px 15px 0px 0px;
        max-height: 3rem;
        text-wrap: nowrap;
    }
    
    .navbar-item:not(:first-child) {
        margin: 0px 5px 0px 5px;
    }

    .navbar-item:hover {
        background-color: green;
    }

    a.active {
        background-color: blue;
    }
}

.team-site-header {
    display: flex;
    justify-content: center;

    .team-site {

        .team-badge {
            max-height: 65px;
            padding: 10px;
        }

        img.team-badge:hover {
            max-height: 70px;
        }
    }

}