
.navbar {
    display: flex;
    justify-content: flex-start;

    .navbar-item {
        margin: 0px 5px 0px 5rem;
        background-color: var(--bg-pink);
        padding: 15px 40px;
        border-radius: 15px 15px 0px 0px;
        max-height: 3rem;
        text-wrap: nowrap;
    }
    
    .navbar-item:not(:first-child) {
        margin: 0px 5px 0px 5px;
    }

    .navbar-item:hover {
        background: linear-gradient(to bottom, var(--bg-pink), var(--bg-light))
    }

    a.active {
        background-color: var(--bg-light);
    }
}

.team-site-header {
    background-color: var(--bg-pink);
    display: flex;
    justify-content: center;

    .team-site {

        .team-badge {
            max-height: 65px;
            padding: 10px;
        }

        img.team-badge:hover {
            max-height: 70px;
        }
    }

}

.footer {
    margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    background-color: var(--bg-pink);

    .footer_item {
        /* background-color: green; */
        position: relative;
        padding: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        aspect-ratio: inherit;
        height: 150px;
    }

}